{% extends 'articles/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
    </form>
{% endblock %}