{% extends 'articles/base.html' %}


{% block title %}About us{% endblock %}

{% block content %}

    <p><a class="btn btn-info" href="{% url 'new_article' %}">Add new article</a></p>
    <div class="row">
        <div class="col-3">        {% for category in categories %}
            <li>
                {{ category.name }}
                {% if category.child_categories.all %}
                    <ul>{% for subcategory in category.child_categories.all %}
                        <li>{{ subcategory }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </div>
        <div class="col-5">   {% for article in article_list.all %}
            <p><a href="{% url 'article_by_id' article.id %}">{{ article.title }}</a></p>
            <small>{{ article.text | truncatechars:100 }}</small>
            {% if user.is_superuser %}
                <form action="{% url 'article_delete' article.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-small btn-warning">Delete</button>
                </form>

                <a href="{% url 'article_delete' article.id %}" class="btn btn-small btn-danger">Delete</a>
                {% if user == article.author or user.is_superuser %}<a href="{% url 'edit_article' article.id %}">Edit</a>
                {% endif %}
            {% endif %}
            {% if not forloop.last %}
                <hr style="border-top: 1px solid rgb(66,66,66)"/>{% endif %}
        {% empty %}
            no articles
        {% endfor %}
            <br/>
            {% include 'articles/includes/pagination.html' %}
        </div>
    </div>
{% endblock %}
