{% extends 'articles/base.html' %}


{% block title %}Create article{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
    </div>
{% endblock %}