{% extends 'articles/base.html' %}


{% block title %}About us{% endblock %}

{% block content %}
    {{ category.name }}
    {% if category.child_categories.all %}
        <ul>{% for subcategory in category.child_categories.all %}
            <li><a href="{% url 'category_detail' subcategory.id %}">{{ subcategory }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    {% for article in category.article_set.all %}
        {{ article.title }}
    {% empty %}
        no articles
    {% endfor %}
{% endblock %}
